@model IEnumerable<Final_CV.Models.Language>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Niveau
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>item.Niveau)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Logo)*@
            <img src="@Url.Content(item.Logo.ToString())" class="img img-circle" width="60" height="60"/>
        </td>
        <td>
            <a href="@Url.Action("Edit",  new { id=item.LangaugeID })">
                <i class="fa fa-pencil dim" style="font-size:15px;color:blue"></i>
            </a>
            <a href="@Url.Action("Details", new { id=item.LangaugeID })">
                <i class="fa fa-list-alt dim" style="font-size:15px;color:green"></i>
            </a>
            <a href="@Url.Action("Delete", new { id=item.LangaugeID })">
                <i class="fa fa-trash dim" style="font-size:15px;color:red"></i>
            </a>
        </td>
    </tr>
}

</table>

<link href="~/Templates/css/bootstrap.min.css" rel="stylesheet">
<link href="~/Templates/font-awesome/css/font-awesome.css" rel="stylesheet">

<link href="~/Templates/css/animate.css" rel="stylesheet">



<script src="~/Templates/js/jquery-2.1.1.js"></script>
<script src="~/Templates/js/bootstrap.min.js"></script>
<script src="~/Templates/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/Templates/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/Templates/js/inspinia.js"></script>
<script src="~/Templates/js/plugins/pace/pace.min.js"></script>
