@model IEnumerable<Final_CV.Models.Skills>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niveau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Logo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Niveau)
        </td>
        <td>
            <img src="@Url.Content(item.Logo.ToString())" class="img img-circle" width="60" height="60" />
            <img />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SkillID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SkillID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SkillID })
        </td>
    </tr>
}

</table>


<script src="~/Templates/js/jquery-2.1.1.js"></script>
<script src="~/Templates/js/bootstrap.min.js"></script>
<script src="~/Templates/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="~/Templates/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="~/Templates/js/inspinia.js"></script>
<script src="~/Templates/js/plugins/pace/pace.min.js"></script>

<script>
        $(document).ready(function(){

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
</script>